[user]
  name = "Bohdan"
  useConfigOnly = true
  email = b.liesnikov+git@gmail.com
  signingkey = ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQCiqpjB74RPKKqOPuz/exFuM6Zs+85GeCdga6GGN5fZQvxUgYhRJxCXCwDh8AaK8Uz9DohnkPr/+UwRtsq9kQF5EpUcYhqS+m3B+CHubBjZvxGa32xuXLN0s94oQ/QKpaFR4UOW/mjaKvTOtMVV1vYgSfyIjdyWvzsG6Mp2SeiCoKHUH+Z6DbsJYqMVI4CZVoVn5v5yyaqrZRNqmPKSsIb0K0rLQXuyR3mcMTCA9nxPZbJF2WzS4u9MEdXmUWnFHF29gwAYrGdmUV9SRQPtpvGrIlft73uloIQD7yi2ZuV0I76HK4/mNCJbnx98WIFG7sADeYFe0QgqMZb7GlzTjBVf800FmmdiqXYw6neYUSgqY6iJoJutYbyGUXNv5SsWGnicBd43NkVNXQ+XtfRuaXVH4N6nSTVj0HTeYSEeHQUwXy3V4kyU4Fnb59lxIYXjEbtC8saS/cQnKsMjm/RH1G9CvCJ0KTovSOAjMXVfZPdezZB8awNv4FO7is2E3++eqKNfch3+LUvMMlRqSfmN6TSGuxBdP83TvyPAhdD6tCxK/KVMHJe6q6UlJDddk+asVfPvobWZ1hy93HddNtohP7GHBnhw4/3N66qidO+w+QDMcEVyCflX2gZm+6U9lj+758HLRPOKQZ4RqUY74Nd/DG29A2anGCeqBLMY0M5w5pJ9Gw==
[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/opt/1Password/op-ssh-sign"

[commit]
  gpgsign = true
