[Desktop Entry]
Name=Emacs (Ghostty)
GenericName=Text Editor
Comment=GNU Emacs running in GPU-accelerated Ghostty terminal
MimeType=text/english;text/plain;text/x-makefile;text/x-c++hdr;text/x-c++src;text/x-chdr;text/x-csrc;text/x-java;text/x-moc;text/x-pascal;text/x-tcl;text/x-tex;application/x-shellscript;text/x-c;text/x-c++;
Exec=ghostty --config-default-files=false --config-file=/home/bohdan/.config/ghostty/config-emacs.ghostty -e emacsclient --alternate-editor= -t %F
Icon=emacs
Type=Application
Terminal=false
Categories=Development;TextEditor;
StartupNotify=true
StartupWMClass=org.gnu.emacs
Keywords=emacs;editor;terminal;ghostty;
